/*-------------------------------------------------------
    fonts
-------------------------------------------------------*/

@font-face {
    font-family: 'Syntax LT Std';
    font-weight: 400;
    src: url(../fonts/SyntaxLTStd-Roman.otf) format('OpenType');
}

@font-face {
    font-family: 'Syntax LT Std bold';
    font-weight: 700;
    src: url(../fonts/SyntaxLTStd-Roman-bold.otf) format('OpenType');
}

/*-------------------------------------------------------
    General styles
-------------------------------------------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*box-shadow: 0 0 0 10px rgba(255,255,255,.2) inset;*/
}

html {
    overflow-x: hidden;
    color: #fff;
    font-family: 'Syntax LT Std', sans-serif;
    font-size: 1em;
    line-height: 1.4;
    background-color: #272727;
}

body {
    overflow-x: hidden;
}

html {
    position: relative;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
    fill: #fff;
}

a:hover {
    color: #b7d333;
    fill: #b7d333;
}

img{
    height: 100%;
}

.mb30{
    margin-bottom: 30px;
}

.transition, a {
    /*transition: all 0.3s cubic-bezier(0.16, 0.68, 0.43, 0.99);*/
    /*-moz-transition: all 0.3s cubic-bezier(0.16, 0.68, 0.43, 0.99);*/
    /*-webkit-transition: all 0.3s cubic-bezier(0.16, 0.68, 0.43, 0.99);*/
    /*-o-transition: all 0.3s cubic-bezier(0.16, 0.68, 0.43, 0.99);*/
    -moz-transition: all 0.5s cubic-bezier(0.42, 0, 0, 0.995);
    -o-transition: all 0.5s cubic-bezier(0.42, 0, 0, 0.995);
    -webkit-transition: all 0.5s cubic-bezier(0.42, 0, 0, 0.995);
    transition: all 0.5s cubic-bezier(0.42, 0, 0, 0.995);
}

svg {
    max-height: 200px !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Syntax LT Std bold', sans-serif;
    font-weight: normal;
}

.collapsed_columns .col {
    padding: 0;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.slow {
    transition-duration: 2s;
    -moz-transition-duration: 2s;
    -webkit-transition-duration: 2s;
    -o-transition-duration: 2s;
}

.max_w {
    max-width: 1024px;
    margin: auto;
    padding: 0 10px;
}

.img-w{
    width: 100%;
}

.small {
    font-size: .7em;
}

.medium {
    font-size: 1.1em;
}

.large {
    font-size: 1.4em;
}

textarea {
    resize: none;
    overflow: hidden;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.no-selection {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.sec {
    padding: 70px 0;
    position: relative;
    overflow: hidden;
}

.social {
    cursor: default;
}

.social a {
    display: block;
    padding: 5px;
    text-align: center;
}

.social a svg {
    width: 14px;
    height: 14px;
}

.BG_text {
    color: #fff;
    opacity: .03;
    font-family: 'Syntax LT Std bold', sans-serif;
    font-size: 7em;
    font-weight: bold;
    position: absolute;
}

.sec_title {
    display: block;
    text-align: center;
    padding: 20px 0;
    font-family: 'Syntax LT Std bold', sans-serif;
    font-weight: normal;
    color: #b7d332;
    text-transform: uppercase;
    font-size: 1.75em;
}

.sec_title span {
    color: #fff;
}

h2 {
    margin: 20px 0;
}

.col_outline {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.col_outline .flex {
    height: 100%;
}

.col_outline .col {
    box-shadow: -1px 0 0 rgba(255, 255, 255, .05);
    height: 100%;
}

.col_outline .col:last-of-type {
    box-shadow: -1px 0 0 rgba(255, 255, 255, .05), 1px 0 0 rgba(255, 255, 255, .05);
}

.content-block {
    margin-left: -10px;
    padding-right: 20px;
}

.img-block {
    margin: 25px -10px 0;
}

.img-block img {
    width: 100%;
}

.no_padd {
    padding: 0;
}

.cover_img {
    background: url(../img/bg/BG3.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.text_center {
    text-align: center;
}

.btn, button[type='button'] {
    cursor: pointer;
    border: solid 1px #fff;
    width: auto;
    padding: 0 60px 0 20px;
    font-size: .7em;
    position: relative;
    text-transform: uppercase;
    font-family: 'Syntax LT Std', sans-serif;
    background-color: transparent;
    color: #fff;
    height: 40px;
    outline: none;
}

.btn:hover, button[type='button']:hover {
    box-shadow: 180px 0 0 rgba(255, 255, 255, .15) inset;
}

.btn:after, .btn:before, button[type='button']:after, button[type='button']:before {
    content: '';
    position: absolute;
    right: -1px;
    top: -1px;
    width: 40px;
    height: 40px;
    border: solid 1px #fff;
    background: url(../img/arrow.svg) no-repeat center center scroll;
    background-size: 16px;
    padding: 0;
    box-sizing: border-box;
}

.btn:hover:before, .btn:hover:after, button[type='button']:hover:after, button[type='button']:hover:before {
    transition: all 0.4s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    -moz-transition: all 0.4s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    -webkit-transition: all 0.4s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    -o-transition: all 0.4s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.btn:before, button[type='button']:before {
    border: none;
    background-position: -50px center;
}

.btn:hover:before, button[type='button']:hover:before {
    background-position: center center;
}

.btn:hover:after, button[type='button']:hover:after {
    background-position: 50px center;
}

.stagger_1, .stagger_2 button, .stagger_3 .project_unit, .stagger_4 a {
    position: relative;
}

.stagger_4 {
    overflow: hidden;
}

.horiz_logo {
    position: relative;
}

.stagger_5 {
    position: relative;
}

/* BLOCKS */
.block-st2 .svg-ico{
    width: 100px;
    height: 100px;
    line-height: 100px;
}
.block-st2 h3{
    margin-bottom: 20px;
    text-transform: uppercase;
}
.block-st2 p{
    font-size: 12px;
    max-width: 90%;
}

/*-------------------------------------------------------
   Section one
-------------------------------------------------------*/

.block-st1 {
    position: relative;
    padding: 0;
    background-color: #292929;
    z-index: 1;
    min-height: 500px;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.block-st1 .title-st1 {
    position: absolute;
    z-index: 1000;
    right: 20%;
    top: 50%;
    text-align: right;
    width: 50%;
}

.block-st1 .title-st1 h1 {
    font-size: 64px;
    line-height: 1.2;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.004);
    text-transform: uppercase;
}

.block-st1 .title-st1 h2 {
    font-size: 28.355px;
    text-transform: uppercase;
    line-height: 1.681;
    margin: 0;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.004);
}

.block-st1 .title-st1 .mb {
    margin-bottom: 40px;
}

.block-st3 .contactsection{
    position: relative;
    color: #fff;
    background-color: #b2cd31;
    padding: 5%;
}
.block-st3 .contactsection img{
    vertical-align: middle;
    margin-right: 10px;
    width: 32px;
}

.block-st3 .contactsection .BG_text{
    position: absolute;
    right:0;
    bottom:25%;
    z-index: 5;
    color: #fff;
    opacity: 0.1;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
}

.block-st3 .list-details{
    margin: 0 0 30px;
    padding: 0;
    list-style-type: none;
}

.block-st3 .list-details > li{
    margin-bottom: 20px;
}

.block-st3 .list-details ul{
    margin-top: 0px;
    padding-left: 45px;
    font-size: 0.9em;
}

.sec.first_sec {
    position: relative;
    padding: 0;
    background-color: #292929;
    z-index: 2;
    min-height: 500px;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.first_sec aside, .block-st1 aside {
    float: left;
    background-color: #2e2e2e;
    padding: 50px;
    height: 100vh;
    position: relative;
    font-family: 'Syntax LT Std', sans-serif;
}

.lang_count {
    position: absolute;
    z-index: 99;
    right: 35px;
    top: 35px;
    overflow: hidden;
}

.lang_count select {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 0 15px 0 0;
    text-transform: uppercase;
    margin-right: -15px;
    height: 20px;
    font-size: .75em;
}

.lang_count select option {
    color: #000;
}

.lang_count:before, .lang_count:after {
    content: '';
    position: absolute;
    right: -8px;
    top: 0;
    width: 28px;
    height: 21px;
    background: url(../img/arrow.svg) no-repeat center center scroll;
    background-size: 13px;
    padding: 0;
    box-sizing: border-box;
    pointer-events: none;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.lang_count:hover:before, .lang_count:hover:after {
    transition: all 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    -moz-transition: all 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    -webkit-transition: all 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    -o-transition: all 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.lang_count:before {
    border: none;
    background-position: -50px center;
}

.lang_count:hover:before {
    background-position: center center;
}

.lang_count:hover:after {
    background-position: 50px center;
}

aside .social {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 40px;
    z-index: 100;
}

aside .slogan {
    white-space: nowrap;
    position: absolute;
    left: 0;
    bottom: 245px;
    right: 0;
    z-index: 13;
    text-transform: uppercase;
    font-size: .55em;
    font-family: 'Syntax LT Std', sans-serif;
    letter-spacing: .2em;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

aside .slogan:before {
    content: '';
    position: absolute;
    right: calc( 100% + 18px);
    width: 30px;
    height: 1px;
    background-color: #fff;
    top: 0;
    bottom: 0;
    margin: auto;
}

.logo_container {
    background-color: #2e2e2e;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 12;
    width: 200px;
    height: 280px;
}

.logo_container .BG_text {
    bottom: -47px;
    left: -15px;
    -webkit-clip-path: polygon(0% 0%, 100% 1%, 100% 70%, 57% 70%, 57% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 1%, 100% 70%, 57% 70%, 57% 100%, 0% 100%);
}

.logo {
    width: 140px;
    height: 180px;
    display: block;
    background: url(../img/logo_vertical.png) no-repeat center center scroll transparent;
    background-size: 60%;
    margin: auto;
    position: relative;
}

.carousel_arrows {
    position: absolute;
    z-index: 9999;
    top: 290px;
    left: 110px;
}

.carousel_item {
    height: 100%;
    width: 100%;
    position: relative;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

.carousel_item1 {
    background: url(../img/bg/BG1.png) no-repeat center center
}

.carousel_item2 {
    background: url(../img/bg/BG2.png) no-repeat center center
}

.carousel_item3 {
    background: url(../img/bg/BG3.png) no-repeat center center
}

.carousel_item_info {
    position: absolute;
    z-index: 1000;
    right: 20%;
    top: 50%;
    direction: rtl;
    width: 50%;
}

.carousel_item_info h1 {
    font-size: 2em;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .7);
}

.carousel_item_info p {
    font-size: .85em;
    margin: 15px 0 30px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .7);
    padding-left: 20%;
}

.carousel_item_info.animate {
    -moz-transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
}

.pagingInfo {
    display: block;
    text-align: center;
    color: #fff;
    padding: 10px 0 0;
}

.pagingInfo strong {
    color: #b7d333;
    margin: 5px;
    font-size: 1.8em;
    font-family: 'Syntax LT Std bold', sans-serif;
}

button.slick-next, button.slick-prev {
    border: none;
    padding: 5px 30px 5px 5px;
    height: 25px;
    color: #000;
    fill: #000;
    font-family: 'Syntax LT Std bold', sans-serif;
    margin: 10px;
    -moz-transition: all 0.5s cubic-bezier(0.42, 0, 0, 0.995);
    -o-transition: all 0.5s cubic-bezier(0.42, 0, 0, 0.995);
    -webkit-transition: all 0.5s cubic-bezier(0.42, 0, 0, 0.995);
    transition: all 0.5s cubic-bezier(0.42, 0, 0, 0.995);
}

button.slick-next:after, button.slick-next:before, button.slick-prev:before, button.slick-prev:after {
    border: none;
    width: 30px;
    height: 25px;
    background-image: url("../img/arrow-long.svg");
}

button.slick-prev:after, button.slick-prev:before {
    right: auto;
    left: 0;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

button.slick-prev {
    padding: 5px 5px 5px 30px;
}

button.slick-next:hover {
    box-shadow: 90px 0 0 rgba(183, 209, 50, 1) inset;
}

button.slick-prev:hover {
    box-shadow: -90px 0 0 rgba(183, 209, 50, 1) inset;
}

/*-------------------------------------------------------
    Section two
-------------------------------------------------------*/

.second_sec {
    background-color: #272727;
}

.second_sec .BG_text {
    left: 40px;
    top: 15%;
}

.icons_list {
    margin: 20px 0;
}

.icons_list li {
    margin: 20px 0;
}

.icons_list h3 {
    text-transform: uppercase;
    margin: 5px 0;
    letter-spacing: .2em;
    font-size: 1em;
}

.first_line_icon svg {
    width: 60px;
    height: 45px;
    stroke-dasharray: 320px;
    stroke-dashoffset: 320px;
}

.second_line_icon svg {
    width: 70px;
    height: 36px;
    stroke-dasharray: 46px;
    stroke-dashoffset: 46px;
}

.third_line_icon svg {
    width: 70px;
    height: 35px;
    stroke-dasharray: 151px;
    stroke-dashoffset: 151px;
}

.animate svg {
    stroke-dashoffset: 0;
}

.Specialization {
    padding-left: 45px;
}

/*-------------------------------------------------------
   Section three
-------------------------------------------------------*/

.third_sec {
    position: relative;
    height: auto;
    padding-bottom: 0;
}

.third_sec .BG_text {
    right: 50px;
    top: -31px;
    z-index: 12;
}

.project_unit {
    display: block;
    position: relative;
    background-color: #000;
    line-height: 0;
}

.proj_title {
    position: absolute;
    z-index: 7;
    left: 20px;
    top: 20px;
    text-transform: uppercase;
    color: #fff;
    padding-right: 20px;
    line-height: 25px;
    font-size: 1.2em;
}

.proj_img {
    overflow: hidden;
    display: block;
}

.proj_img img {
    width: 100%;
    opacity: .5;
}

.project_unit:before {
    content: attr(data-category);
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 10;
    color: #fff;
    text-transform: uppercase;
    font-size: .6em;
    letter-spacing: .4em;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -moz-transition: all 0.5s cubic-bezier(0.42, 0, 0, 0.995);
    -o-transition: all 0.5s cubic-bezier(0.42, 0, 0, 0.995);
    -webkit-transition: all 0.5s cubic-bezier(0.42, 0, 0, 0.995);
    transition: all 0.5s cubic-bezier(0.42, 0, 0, 0.995);
}

.project_unit:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 13;
    width: 20px;
    height: 20px;
    padding: 30px;
    border-radius: 100px;
    background: url(../img/magni.svg) no-repeat scroll center center #abc729;
    background-size: 25px;
    -moz-transition: all 0.5s cubic-bezier(0.42, 0, 0, 0.995);
    -o-transition: all 0.5s cubic-bezier(0.42, 0, 0, 0.995);
    -webkit-transition: all 0.5s cubic-bezier(0.42, 0, 0, 0.995);
    transition: all 0.5s cubic-bezier(0.42, 0, 0, 0.995);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.project_unit:hover .proj_title, .project_unit:hover:before {
    opacity: 0;
}

.project_unit:hover:after {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.project_unit:hover .proj_img img {
    opacity: 1;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.filters-button-container {
    width: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.filters-button-group {
    text-align: center;
    cursor: default;
    padding: 10px 15px 20px;
}

.filters-button-group .button {
    background: none;
    outline: none;
    border: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    font-size: .7em;
    display: inline-block;
}

.filters-button-group .button:hover, .filters-button-group .button.is-checked {
    color: #abc729;
}

.element-item {
    -moz-transition: all 0.5s cubic-bezier(0.42, 0, 0, 0.995);
    -o-transition: all 0.5s cubic-bezier(0.42, 0, 0, 0.995);
    -webkit-transition: all 0.5s cubic-bezier(0.42, 0, 0, 0.995);
    transition: all 0.5s cubic-bezier(0.42, 0, 0, 0.995);
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
}

.scale-anm {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
}

.projects_container {
    min-height: 200px;
}

.gallery_unit {
    /*display: none;*/
}

/*-------------------------------------------------------
       Section Four
    -------------------------------------------------------*/

.fourth_sec {
    height: auto;
}

.fourth_sec .BG_text {
    left: 50px;
    top: 90px;
}

.clients_list a {
    display: block;
    padding: 30px 20px 0;
    width: 130px;
    margin: auto;
}

.clients_list svg {
    fill: #959595;
    max-height: 100px;
}

.clients_list a:hover svg {
    fill: #b6d232;
}

/*-------------------------------------------------------
   Section five
-------------------------------------------------------*/

.sec.fifth_sec {
    position: relative;
    background-color: #2e2e2e;
    padding: 0;
    min-height: 638px;
    height: 100vh;
    z-index: 2;
    overflow: hidden;
}

.fifth_sec .flex {
    min-height: 100vh;
}

.fifth_sec .cover_img {
    padding: 100px 7%;
    height: 100%;
    display: table;
    width: 100%;
}

.fifth_sec .BG_text {
    bottom: -45px;
    left: 10%;
}

.contact_form {
    padding: 0 20% 0 40px;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.form_btn {
    float: right;
}

.horiz_logo {
    display: inline-block;
    padding: 50px 0;
}

.horiz_logo img {
    width: 75%;
}

.fifth_sec .left_content {
    width: 100%;
    height: 100%;
    display: table;
}

.fifth_sec .content-block {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding: 0 15%;
}

.fifth_sec .sec_title {
    text-align: left;
    font-size: 2.2em;
}

.links_list {
    margin: 40px 0;
}

.links_list li {
    width: 40%;
    display: inline-block;
    margin: 0 2%;
    position: relative;
}

.links_list li a {
    display: inline-block;
    font-size: .8em;
    white-space: nowrap;
}

.fifth_sec .social {
    position: absolute;
    bottom: 0;
    direction: rtl;
    padding: 25px;
}

.fifth_sec .social a {
    display: inline-block;
}

.fifth_sec .social a svg {
    width: 16px;
    height: 16px;
}

.fifth_sec .lang_count {
    top: auto;
    bottom: 35px;
    right: 35px;
}

/*-------------------------------------------------------
   footer
-------------------------------------------------------*/

footer {
    padding: 10px;
    position: absolute;
    bottom: 20px;
}

footer .full_logo2 {
    width: 300px;
    float: right;
}

footer .social {
    position: static;
    float: left;
    text-align: left;
}

footer .social a {
    fill: #fff;
}

footer .social a:hover {
    fill: #171617;
}

.copyright {
    color: #fff;
    font-size: .7em;
    margin: 5px 0;
}

/*==================================================
#Media Queries
================================================== */

/* Note: Design for a width of 768px and smaller */

@media only screen and (max-width: 768px) {
    .col_outline .flex, .block-st1 aside, .first_sec aside, .logo_container, .carousel_arrows, .fifth_sec .social, .fifth_sec .horiz_logo {
        display: none;
    }
    .sec.first_sec, .block-st1 {
        min-height: 555px;
        height: 555px;
    }
    .sec.fifth_sec, .sec.fifth_sec .flex {
        height: auto;
        min-height: 638px;
    }
    header, .top-nav-expand {
        background-color: #202020;
    }
    .sec {
        padding: 40px 0;
    }
    .content-block {
        margin: 0;
        padding: 0;
    }
    .carousel_item_info {
        top: auto;
        bottom: 30px;
        right: auto;
        left: 30px;
        width: auto;
        direction: ltr;
    }
    .carousel_item_info p {
        padding-right: 20px;
        padding-left: 0;
    }
    .second_sec .BG_text, .third_sec .BG_text, .fourth_sec .BG_text {
        right: auto;
        left: 0;
        top: -30px;
        z-index: 12;
    }
    .Specialization {
        padding: 20px 0;
        text-align: center;
    }
    .clients_list a {
        padding: 20px 10px 0;
    }
    .sec.fifth_sec {
        height: auto;
        padding: 0;
    }
    .contact_form {
        padding: 0;
    }
    .fifth_sec .cover_img {
        padding: 70px 40px;
    }
    .fifth_sec .lang_count {
        bottom: 15px;
    }
    .links_list {
        margin: 10px 0 35px 0;
    }
    footer {
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
    }
    .lg-toolbar {
        top: 60px !important;
    }
}